<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
    
      
      
      <div class="container {{ section.layout }}-container">
        <h3 id="{{ page.title | slugify }}"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        
        <div class="row clearfix">
          <div class="col-md-12">
            {{ content | strip | markdownify }}
          </div>
        </div>
      </div>
    






      </div>
      </main>

  {%- include footer.html -%}
  {% if site.darkmode == false %}
    <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
  {% endif %}
</body>

</html>